{% extends 'base.html' %}

{% block titulo %}
	Inicio
{% endblock %}
{% block scripts %}
	<script>
		head(function(){								
			$.AGS_Wow.getItemByName('iceblade arrow');		
		});				
	</script>
{% endblock %}
{% block content %}
	<section id="news">                
    	<article class="newspost" id="post_1">
        	<header class="green panda">
            	<h2>Publicidad</h2>
                <p>Posteado por <strong>Impresiones Web</strong> el <time datetime="2013-02-08T13:36:45+01:00">{% now "d/m/Y" %}</time></p>
          	</header>
            <section class="post-content">
            	<div align="center">
            	<script  language="javascript"  type="text/javascript">iwsrcplus="http://codenew.impresionesweb.com/r/banner_iw.php?idrotador=102181&tamano=300x250&lgid="+((new Date()).getTime() % 2147483648) + Math.random(); document.write("<scr"+"ipt language=javascript  type=text/javascript src="+iwsrcplus+"></scr"+"ipt>");</script><noscript><iframe src="http://alt.impresionesweb.com/noscript.php?tam=300x250&idp=102181&ref=102181&cod=227078" width="300" height="250" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe></noscript>
            	</div>
         	</section>
         	<header class="blue dragon">
            	<h2>Estrenamos nueva Página Web</h2>
                <p>Posteado por <strong>Waitandbleed</strong> el <time datetime="2013-02-08T13:36:45+01:00">08 de Febrero del 2013</time></p>
          	</header>
            <section class="post-content">
            	<p>Nuestro equipo técnico les presenta nuestra nueva interfaz web, en la que podrán realizar diferentes actividades.</p>
             	<h4>En nuestra Web tienen acceso a:</h4>
            	<ul>
	            	<li>Creación y Administración de Cuentas</li>
	                <li>Chat en linea</li>
	                <li>Foros</li>
	                <li>Multimedia
	                	<ul>
	                    	<li>Enlaces para la descarga del Cliente V-4.2.2</li>
	                        <li>Enlaces para las descargas de Add-On's </li>
	                    </ul>
	                </li>
	                <li>Armeria</li>
	                <li>Foros</li>
	            </ul>
         	</section>
            <footer>
               	<p>
                  	<!--a class="button1"><span>Comentar</span></a>
                    <a class="button1"><span>Ver Comentarios</span></a-->
                </p>
            </footer>
		</article>       
	</section>
{% endblock %}
{% block sidebars %}
	{% include 'sidebars.html' %}
{% endblock %}